<div class="row col-md-12">
  <nb-card>
    <button type="submit" nbButton status="primary" (click)="onSubmit()">שלח אירוע</button>
  </nb-card>
</div>

<div class="row">
  <div class="col-md-3">
    <nb-card>
      <nb-card-body>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="reference" class="label col-sm-3 form-control-label">סימכוין:</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="reference" id="reference" placeholder="סימוכין" [(ngModel)]="lostForm.reference">
            </div>
          </div>
          <div class="form-group row">
            <label for="eventType" class="label col-sm-3 form-control-label">סוג האירוע:</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="eventType" id="eventType" placeholder="סוג האירוע" [(ngModel)]="lostForm.eventType">
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="label col-sm-3 form-control-label">תאריך:</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="date" id="date" placeholder="תאריך:" [(ngModel)]="lostForm.date">
            </div>
          </div>
          <div class="form-group row">
            <label for="reporterName" class="label col-sm-3 form-control-label">שם מדווח:</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="reporterName" id="reporterName" placeholder="שם מדווח" [(ngModel)]="lostForm.reporterName">
            </div>
          </div>
          <div class="form-group row">
            <label for="reporterUnit" class="label col-sm-3 form-control-label">יחידת מדווח:</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="reporterUnit" id="reporterUnit" placeholder="יחידת מדווח" [(ngModel)]="lostForm.reporterUnit">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body>
        <h6>סטאטוס אירוע:</h6>
        <form class="form-horizontal">
          <div class="form-group row">
            <label for="caseIdOnMetzah" class="label col-sm-3 form-control-label">מס' תיק במצ''ח</label>
            <div class="col-sm-9">
              <input type="email" nbInput fullWidth name="caseIdOnMetzah" id="caseIdOnMetzah" placeholder="מס' תיק במצ''ח" [(ngModel)]="lostForm.caseIdOnMetzah">
            </div>
          </div>
          <div class="form-group row">
            <label for="handlingResults" class="label col-sm-3 form-control-label">תוצאות טיפול</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="handlingResults" id="handlingResults" placeholder="תוצאות טיפול" [(ngModel)]="lostForm.handlingResults">
            </div>
          </div>
          <div class="form-group row">
            <label for="eventStatus" class="label col-sm-3 form-control-label">סטאטוס אירוע</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="eventStatus" id="eventStatus" placeholder="סטאטוס אירוע" [(ngModel)]="lostForm.eventStatus">
            </div>
          </div>
          <div class="form-group row">
            <label for="handlingStatus" class="label col-sm-3 form-control-label">סטאטוס טיפול</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth name="handlingStatus" id="handlingStatus" placeholder="סטאטוס טיפול" [(ngModel)]="lostForm.handlingStatus">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-9">
    <nb-card>
      <!--<nb-card-header>Block form</nb-card-header>-->
      <nb-card-body>
        <form>
          <h6>פרטי החתום האחרון:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="signerUnit" class="label">יחידת החתום</label>
                <input type="text" nbInput fullWidth name="signerUnit" id="signerUnit" status="primary" placeholder="יחידת החתום" [(ngModel)]="lostForm.signerUnit">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="signerName" class="label">שם החתום</label>
                <input type="text" nbInput fullWidth name="signerName" id="signerName" status="primary" placeholder="שם החתום" [(ngModel)]="lostForm.signerName">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="signerId" class="label">מ.א./ת.ז.</label>
                <input type="text" nbInput fullWidth name="signerId" id="signerId" status="primary" placeholder="מ.א./ת.ז." [(ngModel)]="lostForm.signerId">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="rank" class="label">דרגה</label>
                <input type="text" nbInput fullWidth name="rank" id="rank" status="primary" placeholder="דרגה" [(ngModel)]="lostForm.rank">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="position" class="label">תפקיד</label>
                <input type="text" nbInput fullWidth name="position" id="position" status="primary" placeholder="תפקיד" [(ngModel)]="lostForm.position">
              </div>
            </div>
          </div>
          <h6>פרטי הדיווח:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="eventDate" class="label">תאריך גילוי האירוע</label>
                <input type="text" nbInput fullWidth name="eventDate" id="eventDate" status="primary" placeholder="תאריך גילוי האירוע" [(ngModel)]="lostForm.eventDate">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="eventHour" class="label">שעת גילוי האירוע</label>
                <input type="text" nbInput fullWidth name="eventHour" id="eventHour" status="primary" placeholder="שעת גילוי האירוע" [(ngModel)]="lostForm.eventHour">
              </div>
            </div>
          </div>
          <h6>פרטי האובדן:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="equipment" class="label">ציוד/חומר</label>
                <input type="text" nbInput fullWidth name="equipment" id="equipment" status="primary" placeholder="ציוד/חומר" [(ngModel)]="lostForm.equipment">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="equipmentType" class="label">סוג ציוד/חומר</label>
                <input type="text" nbInput fullWidth name="equipmentType" id="equipmentType" status="primary" placeholder="סוג ציוד/חומר" [(ngModel)]="lostForm.equipmentType">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="equipmentMark" class="label">סימון ציוד/חומר</label>
                <input type="text" nbInput fullWidth name="equipmentMark" id="equipmentMark" status="primary" placeholder="סימון ציוד/חומר" [(ngModel)]="lostForm.equipmentMark">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="equipmentMakat" class="label">מק"ט ציוד/עותק חומר</label>
                <input type="text" nbInput fullWidth name="equipmentMakat" id="equipmentMakat" status="primary" placeholder="מק''ט ציוד/עותק חומר" [(ngModel)]="lostForm.equipmentMakat">
              </div>
            </div>
          </div>
          <h6>גורמים ומקומות רלוונטים לאירוע:</h6>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" nbInput fullWidth name="eventRelevantPlacesAndFactors" id="eventRelevantPlacesAndFactors" status="primary" placeholder="מלל חופשי" [(ngModel)]="lostForm.eventRelevantPlacesAndFactors">
              </div>
            </div>
          </div>
          <h6>פרטי המקרה כפי שידועים מהבירור הראשוני:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <input type="text" nbInput fullWidth name="eventInitialDetails" id="eventInitialDetails" status="primary" placeholder="מלל חופשי" [(ngModel)]="lostForm.eventInitialDetails">
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>