
<nb-card class="main-nb-card"  status="info" [nbSpinner]="uploadLoading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <nb-card-header>
        <h1>שדות קבועים</h1>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <!-- <ngx-field-box #rank fieldName="rank"></ngx-field-box> -->
            <div class="col-md-4" *ngFor="let item of listOfCategories; let i=index">
            
                <ngx-field-box #{{item[1]}} fieldName="{{item[1]}}"></ngx-field-box>
                
            </div>
        </div>
    </nb-card-body>
</nb-card>