
<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4">
          <button nbButton status="primary" [disabled]="(pickedUpEvent.route?false:true)" [routerLink]="[pickedUpEvent.route]" hero>
            דווח אירוע
          </button>
      </div>
        <div class="col-md-4">
          <label class="search-label" for="search">Search:</label>
          <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
      <div class="button-row">
        <button *ngFor="let button of eventsToPickUp | keyvalue" nbButton status="info" (click)="pickedUpEvent=button.value; loadTable(pickedUpEvent=button.value)" hero>{{button.value.name}}</button>
      </div>
    </div>

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" (click)="formClicked($event, row)" style="cursor: pointer;"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn2}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <ngx-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-fs-icon>
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of columns | keyvalue; let index = index"
                    [nbTreeGridColumnDef]="column.key"
                    [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column.key)" *nbTreeGridHeaderCellDef>
          {{column.value}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column.key] || '-'}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>
