
        <div class="row">
            <div class="col-md-6">
                <nb-card nb-card class="main-nb-card" status="primary" nbSpinnerStatus="primary">
                    <nb-card-header>
                        
                        <h4 style="color: white;">ניהול יחידות</h4>
                    </nb-card-header>
                <nb-card-body>
                    <div class="row">
                 <div class="col-md-6">
                <button nbButton status="primary" #saveButton (click)="saveData()">שמור עץ יחידות</button>
                <tree-root #tree (activate)="onNodePickedUp($event)" (deactivate)="onNodeDeactivate($event)" [nodes]="nodes" [options]="options"></tree-root>
                <!--<nb-card *ngIf="uploadLoading" [nbSpinner]="true" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                    <nb-card-body #spinnerNbCard>
                        
                    </nb-card-body>
                </nb-card>-->
                
            </div>
        
            <div class="col-md-6">
                <div *ngIf="currentNode">
                    <nb-card nbSpinnerSize="giant" status="primary" nbSpinnerStatus="primary">
                        <nb-card-header>
                            <nb-icon icon="plus-round" pack="ion" (click)="action='add'"></nb-icon>
                            <nb-icon icon="edit" pack="ion" (click)="action='edit'"></nb-icon>
                            <nb-icon icon="trash-a" pack="ion" (click)="action='delete'"></nb-icon>
                        </nb-card-header>
                        <nb-card-body>
                            <div *ngIf="action=='add'">
                                <input nbInput fullwidth placeholder="הוסף יחידה" [(ngModel)]="addUnitInput">
                                <div class="buttonWrapper">
                                    <button nbButton (click)="onNodeDeactivate()">ביטול</button>
                                    <button nbButton status="primary" (click)="addUnit()">אישור</button>
                                </div>
                            </div>
                            <div *ngIf="action=='edit'">
                                <input nbInput fullwidth placeholder="ערוך שם יחידה" [(ngModel)]="editUnitInput">
                                <div class="buttonWrapper">
                                    <button nbButton (click)="onNodeDeactivate()">ביטול</button>
                                    <button nbButton status="primary" (click)="editUnit()">אישור</button>
                                </div>
                            </div>
                            <div *ngIf="action=='delete'">
                                <p>האם למחוק את היחידה?</p>
                                <div class="buttonWrapper">
                                    <button nbButton (click)="onNodeDeactivate()">ביטול</button>
                                    <button nbButton status="primary" (click)="deleteUnit()">אישור</button>
                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>  
                </div> 
            </div>
        </div>
        
    </nb-card-body>
</nb-card>
</div>
            <div class="col-md-6">
                <nb-card nb-card class="main-nb-card" status="primary" nbSpinnerStatus="primary" nbSpinnerSize="giant">
                    <nb-card-header>
                        <h4 style="color: white;">ניהול הרשאות</h4>
                    </nb-card-header>
                    <nb-card-body>
                <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" (userRowSelect)="formClicked($event)"></tr>
              
                    <ng-container [nbTreeGridColumnDef]="customColumn">
                      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
                        {{customColumn2}}
                      </th>
                      <td nbTreeGridCell *nbTreeGridCellDef="let row">

                        {{row.data[customColumn]}}
                      </td>
                    </ng-container>
              
                    <ng-container *ngFor="let column of defaultColumns|keyvalue; let index = index"
                                  [nbTreeGridColumnDef]="column.key"
                                  [showOn]="getShowOn(index)">
                      <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column.key)" *nbTreeGridHeaderCellDef>
                        {{column.value}}
                      </th>
                      <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column.key] || '-'}}</td>
                    </ng-container>
              
                  </table>
                <br/>
                  <div class="row " style="width: 100%;">
                      <div class="col">
                    <input type="text" fullWidth #Personal="ngModel" name="personalnumber" nbInput  id="personal" fieldSize="medium" placeholder="מספר מזהה" [(ngModel)]=users.personalnumber [nbFilterInput]="dataSource" required maxlength="7" min="7">
                </div>
                  <div class="col">
                    <nb-select fullWidth name="permissions" status="privmary" placeholder="הרשאה" id="permissions" fieldSize="small" [(ngModel)]="users.permissions" > 
                        <nb-option *ngFor="let permiss of permission" [value]="permiss">{{[permiss]}}</nb-option>
                        </nb-select>
                  </div>
                  <div class="col">
                        <button fullWidth nbButton [disabled]="Personal.invalid  || Personal.undirty"   status="primary" (click)=updatePermissionUser(Personal.value)>שנה הרשאות</button>     
                  </div>
                </div>
            </nb-card-body>
        </nb-card>
            </div>
        </div>
