.circle {
  width: 20px;
  height: 17px;
  border-radius: 50%;
  text-align: center;
  background-color: red;
  color: #fff;
  font-size: 12px;
  border: 2px solid red;
}

button{
  // width: -webkit-fill-available;
}