.download{
    width: 100%;
}

.download nb-card{
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #3366ff;
    border-color: #3366ff;
    color: #ffffff;
}

.download nb-card i{
    width: auto;
    text-align: center;
}
