<div class="row">
     <div class="col-md-6">
       <nb-card class="main-nb-card" status="primary" nbSpinnerStatus="primary" >
         <nb-card-header >
           <h4 style="color: white;">ניהול יחידות</h4>
         </nb-card-header>
         <nb-card-body>
           <div class="row">
               <div class="col-md-6">
                 <button nbButton status="primary" #saveButton (click)="saveData()">שמור עץ יחידות</button>
                 <tree-root #tree (activate)="onNodePickedUp($event)" (deactivate)="onNodeDeactivate($event)" [nodes]="nodes" [options]="options"></tree-root>
               </div> 
               <div class="col-md-6">
                 <div *ngIf="currentNode">
                   <nb-card status="primary" nbSpinnerStatus="primary">
                     <nb-card-header>
                       <div class="icon_1">
                         <i class="ion-plus-round" [nbPopover]="icon" (click)="action='add'"></i>
                       </div>
                       <div class="icon">
                         <i class='ion-edit' [nbPopover]="icon" (click)="action='edit'"></i>
                       </div>
                       <div class="icon">
                         <i class='ion-close-round' [nbPopover]="icon" (click)="action='delete'"></i>
                       </div>
                     </nb-card-header>
                     <nb-card-body>
                       <div *ngIf="action=='add'">
                         <input nbInput fullwidth placeholder="הוסף יחידה" [(ngModel)]="addUnitInput">
                         <div class="buttonWrapper">
                             <button nbButton (click)="onNodeDeactivate()">ביטול</button>
                             <button nbButton status="primary" (click)="addUnit()">אישור</button>
                         </div>
                         </div>
                         <div *ngIf="action=='edit'">
                           <input nbInput fullwidth placeholder="ערוך שם יחידה" [(ngModel)]="editUnitInput">
                           <div class="buttonWrapper">
                               <button nbButton (click)="onNodeDeactivate()">ביטול</button>
                               <button nbButton status="primary" (click)="editUnit()">אישור</button>
                           </div>
                       </div>
                       <div *ngIf="action=='delete'">
                         <p>האם למחוק את היחידה?</p>
                         <div class="buttonWrapper">
                             <button nbButton (click)="onNodeDeactivate()">ביטול</button>
                             <button nbButton status="primary" (click)="deleteUnit()">אישור</button>
                         </div>
                     </div>
                     </nb-card-body>
                   </nb-card>
            </div>
           </div>
           </div>
       </nb-card-body>    
       </nb-card>
     </div>
     <div class="col-md-6">
       <nb-card nb-card class="main-nb-card" status="primary" nbSpinnerStatus="primary" nbSpinnerSize="giant">
           <nb-card-header>
               <h4 style="color: white;">ניהול הרשאות</h4>
           </nb-card-header>
           <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="formClicked($event)">
            </ng2-smart-table>
            <div class="row " style="width: 100%;">
              <div class="col">
            <input type="text" #search fullWidth #Personal="ngModel" name="personalnumber" nbInput  id="personal" fieldSize="medium" placeholder="מספר מזהה" [(ngModel)]=users.personalnumber required maxlength="7" min="7" (input)="onSearch(search.value)" > 
        </div>
          <div class="col">
            <nb-select fullWidth name="permissions" status="privmary" placeholder="הרשאה" id="permissions" fieldSize="small" [(ngModel)]="users.permissions" > 
                <nb-option *ngFor="let permiss of permission" [value]="permiss">{{[permiss]}}</nb-option>
                </nb-select>
          </div>
          <div class="col">
                <button fullWidth nbButton [disabled]="Personal.invalid  || Personal.undirty"   status="primary" (click)=updatePermissionUser(Personal.value)>שנה הרשאות</button>     
          </div>
        </div>
           </nb-card-body>
       </nb-card>
     </div>
</div>
