<form id="register_id" #userForm="ngForm">

    <div class="center">
      <h2 class="text-heading" id="text_head" style="text-align: center;">Register Page</h2>
    <nb-card>
      <nb-card-body>
    <div class="form-group row">
      <label for="input_username" class="label col-sm-12 col-form-label">Username</label>
      <div class="col-sm-12">
        <input type="text" name="username"  nbInput #user fullWidth id="username" fieldSize="small" placeholder="UserName" [(ngModel)]=users.username> 
      </div>

      <label for="input_FirstName" class="label col-sm-12 col-form-label" >FirstName</label>
      <div class="col-sm-12">
        <input type="text" name=firstname  nbInput fullWidth #FirstName id="firstname" fieldSize="small" placeholder="FirstName" [(ngModel)]=users.Firstname>
      </div>

      <label for="input_LastName" class="label col-sm-12 col-form-label">LastName</label>
      <div class="col-sm-12">
        <input type="text" name="lastName"  nbInput fullWidth #LastName id="lastname" fieldSize="small" placeholder="LastName" [(ngModel)]=users.lastname >
      </div>

      <label for="input_Password" class="label col-sm-12 col-form-label" >Password</label>
      <div class="col-sm-12">
        <input type="Password" name="password"  nbInput #password fullWidth id="password" fieldSize="small" placeholder="Password" [(ngModel)]=users.password>
      </div>

      <label for="input_PersonalNumber" class="label col-sm-12 col-form-label" >PersonalNumber</label>
      <div class="col-sm-12">
        <input  type="text" class="form-control" name="personalnumber" nbInput #PersonalNumber="ngModel"  fullWidth id="personalnumber" fieldSize="small" placeholder="PersonalNumber" [(ngModel)]=users.personalnumber maxlength="7" min="7" required>
        <div *ngIf="PersonalNumber.invalid && (PersonalNumber.dirty || PersonalNumber.touched)" (click)="console.log(PersonalNumber)"><label class="label red" style="color: red;">"מ.א חייב להיות בעל 7 ספרות"</label></div>
      </div>
      <label class="label col-sm-12 col-form-label" >Rank</label>
      <div class="col-sm-12"> 
          <nb-select fullWidth name="rank" status="privmary" placeholder="דרגה" id="rank" [(ngModel)]="users.rank" > 
            <nb-option *ngFor="let rank of ranks" [value]="rank">{{rank}}</nb-option>
          </nb-select>
        </div>
      <label for="input_PositonArmy" class="label col-sm-12 col-form-label" >PositonArmy</label>
      <div class="col-sm-12">
        <input type="text" #positonarmy name="position" nbInput fullWidth id="position" fieldSize="small" placeholder="PositonArmy" [(ngModel)]=users.position >
      </div>
      <label for="input_PositonArmy" class="label col-sm-12 col-form-label" >ArmyUnit</label>
      <div class="col-sm-12">
        <input type="text" #positonarmy name="armyunit" nbInput fullWidth id="armyunit" fieldSize="small" placeholder="ArmyUnit" [(ngModel)]=users.armyunit >
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button [disabled]="PersonalNumber.invalid  && PersonalNumber.dirty || PersonalNumber.untouched" fullWidth nbButton (click)="onSubmit()" status="primary">Register</button>       
      </div>
    </div>
    
  </nb-card-body>
  </nb-card>
</div>
</form>