@import '../../../@theme/styles/themes';

nb-card-body {
    overflow: visible;
    padding-top: 0;

    > * {
      margin-top: 1rem;
      text-align: center;
      margin:auto;
    }
  }


.center {
    width: 500px;
    height: 150px;
    position: absolute;
    left: 60%;
    right: 35%;
    top: 20%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-size:10px;
    text-align: center;
  }
  .center_search {
    width: 500px;
    height: 150px;
    position: absolute;
    left: 60%;
    right: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    font-size:10px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }