<div class="center">
    <div class="col-lg-6">
      
        <h5 class="text-heading" style="background-color: cornflowerblue;text-shadow: lightblue;">Profile</h5>
        <h5 class="text-heading" style="background-color: cornflowerblue;border: black;">hello {{first}} {{last}}</h5>
        <nb-card>
        <nb-card-body >
          <div class="form-group row"style="text-align:center">
            <nb-card-header  style="text-align:center" fullWidth class="text-info">username: {{users}}</nb-card-header>
          </div>
          <div class="form-group row ">
            <nb-card-header  style="text-align:center" class="text-info">firstname: {{first}}</nb-card-header>
          </div>
          <div class="form-group row">
            <nb-card-header  style="text-align:center" class="text-info">lastname: {{last}}</nb-card-header>
          </div>
          <div class="form-group row"style="text-align:center">
            <nb-card-header  style="text-align:center" style="text-align:center" class="text-info">password: {{pass}}</nb-card-header>
          </div>

          <div class="form-group row"style="text-align:center">
            <nb-card-header  style="text-align:center" class="text-info">personalnumber: {{personalnumber}}</nb-card-header>
          </div>

          <div class="form-group row "style="text-align:center">
            <nb-card-header  style="text-align:center" class="text-info">rank: {{rank}}</nb-card-header>
          </div>

          <div class="form-group row" style="text-align:center">
            <nb-card-header  style="text-align:center" class="text-info">armypostion: {{armypostion}}</nb-card-header>
          </div>
        </nb-card-body>
        </nb-card>

      </div>
</div>
  