<div class="center">
  <h2 class="text-heading" style="text-align: center;">הרשאות משתמשים</h2>
  <div class="col-sm-8">
      <nb-card>
        <nb-card-header >
          חיפוש משתמשים
        </nb-card-header>
        <nb-card-body>
          <div class="form-group row">
          <div class="col-sm-12">
            <input type="text" placeholder="Search.." nbInput fullWidth id="search" name="search" [(ngModel)]=users.username>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button nbButton type="submit" (click)="onsubmit()"><i class="fa fa-search" status="primary"></i></button>
          </div>
        </div>
          </nb-card-body>
      </nb-card>
      <nb-card id="stam" style="visibility: hidden;" >
        <nb-card-header >
          פרופיל משתמשים
        </nb-card-header>
        <nb-card-body>
          
          <div class="form-group row">
            <div class="col-sm-12">
          <label id="id_username" >שם משתמש: </label>
          <b><label> {{user_page }}</label></b>
          </div>
          </div>
          <label id="alertid">{{alert}}</label>
          <div class="form-group row">
            <div class="col-sm-12">
          <label id="id_permiss">הרשאות: </label>
          <b><label> {{permiss }}</label></b>
          </div>
          </div>
          
        </nb-card-body>
        <button id="id_button_permiss"  fullWidth nbButton status="primary">שינוי הרשאות</button>
      </nb-card>
    </div>