nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.download{
  width: 100%;
}

.download nb-card{
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #3366ff;
  border-color: #3366ff;
  color: #ffffff;
}

.download nb-card nb-icon{
  width: auto;
}

.red{
  color: red;
}

@media only print {
  /* Intended for paged material and for documents
     viewed on screen in print preview mode .*/
  #outOfPrint {
      display: none;
  }
}

#chatWrapper{
  width: 100%;
}