<div class="row col-md-12" id="outOfPrint">
  <nb-card>
    <button type="submit" nbButton status="primary" (click)="onSubmit()">שלח אירוע</button>
  </nb-card>
  <nb-card>
    <button *ngIf="true" nbButton status="primary" (click)="readonly=!readonly">פתח אירוע לעריכה</button>
  </nb-card>
  <nb-card>
    <button *ngIf="true" nbButton status="primary" (click)="printForm()">הדפס אירוע</button>
  </nb-card>
  <nb-card>
    <button *ngIf="true" nbButton status="primary" (click)="deleteEventForm()">מחק אירוע</button>
  </nb-card>
</div>

<div class="row" id="print-section">
  <div class="col-md-3">
    <ngx-event-details [form]="lostForm"></ngx-event-details>
    <ngx-event-status #status [eventForm]="lostForm" [readonly]="readonly" [results]="results"></ngx-event-status>
  </div>

  <div class="col-md-9">
    <nb-card>
      <nb-card-body>
        <div style="display: flex; justify-content: center;">
          <h6><u>פרטי האירוע</u></h6>
        </div>
        <form [ngFormOptions]="{updateOn: 'blur'}">
          <h6>פרטי החתום האחרון:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="signerUnit" class="label">יחידת החתום</label>
                <nb-select [disabled]="readonly" name="signerUnit" id="signerUnit" status="primary" placeholder="יחידת החתום" [(ngModel)]="lostForm.signerUnit">
                  <nb-option *ngFor="let unit of units" value="unit">{{unit}}</nb-option>  
                </nb-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="signerName" class="label">שם החתום</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="signerName" id="signerName" status="primary" placeholder="שם החתום" [(ngModel)]="lostForm.signerName">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="signerId" class="label">מ.א./ת.ז.</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="signerId" id="signerId" #signerId="ngModel" pattern="[0-9]{9}" status="primary" placeholder="מ.א./ת.ז." [(ngModel)]="lostForm.signerId">
                <div *ngIf="signerId.invalid"><label class="label red">ת.ז מורכב מ-9 ספרות</label></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="rank" class="label">דרגה</label>
                <nb-select [disabled]="readonly" name="rank" id="rank" status="primary" placeholder="דרגה" [(ngModel)]="lostForm.rank">
                  <nb-option *ngFor="let rank of ranks" value="rank">{{rank}}</nb-option>  
                </nb-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="position" class="label">תפקיד</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="position" id="position" status="primary" placeholder="תפקיד" [(ngModel)]="lostForm.position">
              </div>
            </div>
          </div>
          <h6>פרטי הדיווח:</h6>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="eventDate" class="label">תאריך גילוי האירוע</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="eventDate" id="eventDate" status="primary" placeholder="תאריך גילוי האירוע" [(ngModel)]="lostForm.eventDate">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="eventHour" class="label">שעת גילוי האירוע</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="eventHour" id="eventHour" status="primary" placeholder="שעת גילוי האירוע" [(ngModel)]="lostForm.eventHour">
              </div>
            </div>
          </div>
          <h6>פרטי האובדן:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="equipment" class="label">ציוד/חומר</label>
                <nb-select [disabled]="readonly" name="equipment" id="equipment" status="primary" placeholder="ציוד/חומר" [(ngModel)]="lostForm.equipment">
                  <nb-option *ngFor="let equipment of equipments" value="equipment.name" (click)="equipmentsTypeOptions=equipment.list; lostForm.equipmentType=''">{{equipment.name}}</nb-option>  
                </nb-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="equipmentType" class="label">סוג ציוד/חומר</label>
                <nb-select [disabled]="readonly" name="equipmentType" id="equipmentType" status="primary" placeholder="סוג ציוד/חומר" [(ngModel)]="lostForm.equipmentType">
                  <nb-option *ngFor="let equipment of equipmentsTypeOptions" value="equipment">{{equipment}}</nb-option>  
                </nb-select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="equipmentMark" class="label">סימון ציוד/חומר</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="equipmentMark" id="equipmentMark" status="primary" placeholder="סימון ציוד/חומר" [(ngModel)]="lostForm.equipmentMark">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="equipmentMakat" class="label">מק"ט ציוד/עותק חומר</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="equipmentMakat" id="equipmentMakat" status="primary" placeholder="מק''ט ציוד/עותק חומר" [(ngModel)]="lostForm.equipmentMakat">
              </div>
            </div>
          </div>
          <h6>גורמים ומקומות רלוונטים לאירוע:</h6>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input [readonly]="readonly" type="text" nbInput fullWidth name="eventRelevantPlacesAndFactors" id="eventRelevantPlacesAndFactors" status="primary" placeholder="מלל חופשי" [(ngModel)]="lostForm.eventRelevantPlacesAndFactors">
              </div>
            </div>
          </div>
          <h6>פרטי המקרה כפי שידועים מהבירור הראשוני:</h6>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input [readonly]="readonly" type="text" nbInput fullWidth name="eventInitialDetails" id="eventInitialDetails" status="primary" placeholder="מלל חופשי" [(ngModel)]="lostForm.eventInitialDetails">
              </div>
            </div>
          </div>
        </form>
        <div style="display: flex; justify-content: center;">
          <h6><u>טיפול באירוע</u></h6>
        </div>
        <form>
          <h6>פרטי הבירור:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="investigationDate" class="label">תאריך הבירור</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="investigationDate" id="investigationDate" status="primary" placeholder="תאריך הבירור" [(ngModel)]="lostForm.investigationDate">
              </div>
            </div>
            <div *ngIf="lostForm.investigationFile" class="col-md-3">
              <div class="form-group">
                <div class="row">
                  <label class="label">
                    {{this.getFileName(this.lostForm.investigationFile)}}
                  </label>
                </div>
                <div class="row">
                  <a [href]="baseUrl+lostForm.investigationFile" class="download">
                    <nb-card status="primary"><nb-icon icon="arrow-circle-down-outline" pack="eva"></nb-icon></nb-card>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="investigationFile" class="label">צרף קובץ</label>
                <input [readonly]="readonly" type="file" (change)="handleFileUpload($event)" name="investigationFile" id="investigationFile">
              </div>
            </div>
          </div>
          <h6>פרטי המציאה:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="findingDate" class="label">תאריך המציאה</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="findingDate" id="findingDate" status="primary" placeholder="תאריך המציאה" [(ngModel)]="lostForm.findingDate">
              </div>
            </div>
            <div *ngIf="lostForm.findingFile" class="col-md-3">
              <div class="form-group">
                <div class="row">
                  <label class="label">
                    {{this.getFileName(this.lostForm.findingFile)}}
                  </label>
                </div>
                <div class="row">
                  <a [href]="baseUrl+lostForm.findingFile" class="download">
                    <nb-card status="primary"><nb-icon icon="arrow-circle-down-outline" pack="eva"></nb-icon></nb-card>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="findingFile" class="label">צרף קובץ</label>
                <input [readonly]="readonly" type="file" (change)="handleFileUpload($event)" name="findingFile" id="findingFile">
              </div>
            </div>
          </div>
          <h6>פרטי הטיפול:</h6>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="handlingDate" class="label">תאריך הטיפול</label>
                <input [readonly]="readonly" type="text" nbInput fullWidth name="handlingDate" id="handlingDate" status="primary" placeholder="תאריך הטיפול" [(ngModel)]="lostForm.handlingDate">
              </div>
            </div>
            <div *ngIf="lostForm.handlingFile" class="col-md-3">
              <div class="form-group">
                <div class="row">
                  <label class="label">
                    {{this.getFileName(this.lostForm.handlingFile)}}
                  </label>
                </div>
                <div class="row">
                  <a [href]="baseUrl+lostForm.handlingFile" class="download">
                    <nb-card status="primary"><nb-icon icon="arrow-circle-down-outline" pack="eva"></nb-icon></nb-card>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="handlingFile" class="label">צרף קובץ</label>
                <input [readonly]="readonly" type="file" (change)="handleFileUpload($event)" name="handlingFile" id="handlingFile">
              </div>
            </div>
          </div>
          <h6>הודעות</h6>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input [readonly]="readonly" type="text" nbInput fullWidth name="messages" id="messages" status="primary" placeholder="מלל חופשי" [(ngModel)]="lostForm.messages">
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>  
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card [nbSpinner]="uploadLoading" nbSpinnerSize="large" nbSpinnerStatus="primary">
    <nb-card-header>מעלה את הבקשה</nb-card-header>
    <nb-card-body>{{this.popUpDialogContext}}</nb-card-body>
    <nb-card-footer style="display: flex; justify-content: center;">
      <button nbButton (click)="ref.close()" status="primary" [disabled]="uploadLoading" routerLink="/pages/control-table/control-table" hero>סיום</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
