
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

/deep/ .cdk-global-scrollblock {
    position: static;
    overflow: hidden !important;
  }

.red{
    color: red;
}
.buttonColor{
  background-color:#6bcef7 ;
}
.buttonColor:hover{
  background-color:#0f588b !important ;
}
/deep/.buttonColor:focus{
  background-color:#0f588b !important ;
}
/deep/ .nb-theme-default [nbButton]::after {
  background-color:#0f588b !important;
}

/deep/ .nb-theme-default nb-card.select.primary{
  border:2px solid #6bcef7 !important ;
}
/deep/.nb-theme-default  nb-option.selected {
  background-color:#6bcef7 !important;
  border:2px solid #6bcef7 !important ;
}
/deep/ .nb-theme-default nb-option:hover{
  background-color:#6bcef7 !important;
}