nb-icon{
    //margin: 0.5rem;
    cursor: pointer;
    margin: 0 0 0 0.2rem;
}

input {
    margin: 0.5rem 0 0.5rem 0;
}

nb-card-body{
    min-height: 11rem;
}

.icon_1 {
    display: inline-block;
    width: 3rem;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.5rem;
  
    i:hover {
    opacity: 0.3;
    cursor: pointer;
    }
  }
.icon {
    display: inline-block;
    width: 3rem;
    padding: 0.8rem 0;
    text-align: center;
    font-size: 1.3rem;

    i:hover {
    opacity: 0.3;
    cursor: pointer;
    }
}

.iconsId{
    float: left;
    display:      block;
    margin-left:  auto;
    margin-right: 0;
}

h6{
    color: white;
    float: right;
}

nb-select{
    width: 100%
}