<nb-card>
    <nb-card-header>
        <h6>{{fieldName}}</h6>
        <div class="iconsId">
            <i class="ion-plus-round" [nbPopover]="icon" (click)="action='add'"></i>
            <i class='ion-edit' [nbPopover]="icon" (click)="action='edit'"></i>
            <i class='ion-close-round' [nbPopover]="icon" (click)="action='delete'"></i>
        </div>
    </nb-card-header>
    <nb-card-body>
        <nb-select status="primary" placeholder="שדה" [(ngModel)]="currentField">
            <nb-option *ngFor="let fieldOption of fieldOptions" [value]="fieldOption">{{fieldOption}}</nb-option>  
        </nb-select>
        <div *ngIf="action=='add'">
            <input nbInput fullwidth placeholder="הוסף שדה" [(ngModel)]="tmpField">
            <div class="buttonWrapper">
                <button nbButton (click)="cancel()">ביטול</button>
                <button nbButton status="primary" (click)="addField()">אישור</button>
            </div>
        </div>
        <div *ngIf="action=='edit'">
            <input nbInput fullwidth placeholder="ערוך שדה" [(ngModel)]="tmpField">
            <div class="buttonWrapper">
                <button nbButton (click)="cancel()">ביטול</button>
                <button nbButton status="primary" (click)="editField()">אישור</button>
            </div>
        </div>
        <div *ngIf="action=='delete'">
            <p>האם למחוק את השדה?</p>
            <div class="buttonWrapper">
                <button nbButton (click)="cancel()">ביטול</button>
                <button nbButton status="primary" (click)="deleteField()">אישור</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>  