nb-icon{
    //margin: 0.5rem;
    cursor: pointer;
    margin: 0 0 0 0.2rem;
}

input {
    margin: 0.5rem 0 0.5rem 0;
}

nb-card-body{
    min-height: 11rem;
}

nb-card-header{
    padding: 0.9rem;
}

.iconsId{
    float: left;
    display:      block;
    margin-left:  auto;
    margin-right: 0;
    background-color: limegreen;
    color: white;
    padding: 3px 4px;
    border-radius: 50%;
}

i{
    font-size: large;
    font-weight: bold;
}

h6{
    color: white;
    float: right;
}

mat-form-field {
    width: 90%;
}

/deep/ .cdk-global-scrollblock {
    position: static;
    overflow: hidden !important;
  }