<nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col-md-4">
          <button nbButton status="primary" [disabled]="(pickedUpEvent.route?false:true)" [routerLink]="[pickedUpEvent.route]" hero>
            דווח אירוע
          </button>
      </div>
        <div class="col-md-4">
          <label class="search-label" for="search">חיפוש בטבלה:</label>
          <input nbInput id="search" class="search-input">
        </div>
        <div class="col-md-4">
          <button nbButton status="success" (click)="exportToXL(pickedUpEvent)" hero>
            <img src="assets/images/xl.png">
            ייצא ל XL
          </button>
        </div>
    </div>

    <div class="row">
      <div class="button-row">
        <button *ngFor="let button of eventsToPickUp | keyvalue" nbButton status="info" (click)="loadTable(pickedUpEvent=button.value)" hero>{{button.value.name}}</button>
      </div>
    </div>

    <ng2-smart-table [settings]="settings" [source]="source">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>