.images{
    padding: 4px 4px 4px 4px;
    
}
table {
    width: 100%;
  }
  
tr.example-detail-row {
height: 0;
}
th.marginHeader{
    padding:2px;
    margin:2px;
}
tr.example-element-row:not(.example-expanded-row):hover {
background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
background: #efefef;
}

.example-element-row td {
border-bottom-width: 2;
}
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 3px solid white;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .mat-column-select {
    overflow: initial;
  }
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  tr.mat-row:hover {
    background-color: black;
    color: white;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
 
:host /deep/ ng2-smart-table thead > tr > th  { 
    background-color:#f4f4fc;
    // background-color: var(--main-bg-color);
    border-color:#f4f4fc; 
    color-adjust: white;
    color: white;
    text-align: center;
}

:host /deep/ ng2-smart-table >tr { 
    color: white;
}
.colorButton-events{
    background-attachment: fixed;
   background-color:#0095b6;
}
.colorButton-revew{
    background-attachment: fixed;
    background-color:#0095b6
 }
.colorButton-lost-form{
    background-attachment: fixed;
    background-color:#0095b6
 }
 .colorButton-Drafts{
     background-color: #7df9ff;
     background-attachment: fixed;
 }