
<div class="form-box " id="myDIV">
  <div class="chat-container">
    <nb-chat title="שיח רציף" size="large" status="primary">
    <nb-chat-message *ngFor="let msg of messages"
                        [type]="msg.type"
                        [message]="msg.text"
                        [reply]="isReply(msg.user.name)"
                        [sender]="msg.user.name"
                        [date]="msg.date"
                        [files]="msg.files"
                        [quote]="msg.quote"
                        [latitude]="msg.latitude"
                        [longitude]="msg.longitude"
                        [avatar]="msg.user.avatar">
    </nb-chat-message>
    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
    </nb-chat-form>
    </nb-chat>
</div>

</div>

<button class="floating-btn" (click)="open()">
    <i class="ion-email"></i>
  </button>
