nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  
  
  .red{
    color: red;
  }
  
  /deep/ .cdk-global-scrollblock {
    position: static;
    overflow: hidden !important;
  }

  @media only print {
    /* Intended for paged material and for documents
       viewed on screen in print preview mode .*/
    #outOfPrint {
        display: none;
    }
  }
    ngx-timepicker-field.ngx-timepicker
    {
      direction: ltr;
      align-items: center;
      display: flex;
    }
    ::ng-deep  .ngx-select__choices
    {
      color: black !important;
      text-align: right; 
    }

    .buttonColor{
      background-color:#6bcef7 ;
    }
    .buttonColor:hover{
      background-color:#0f588b !important ;
    }
    /deep/.buttonColor:focus{
      background-color:#0f588b !important ;
    }
    /deep/ .nb-theme-default [nbButton]::after {
      background-color:#0f588b !important;
    }
    
    /deep/ .nb-theme-default nb-card.select.primary{
      border:2px solid #6bcef7 !important ;
    }
    /deep/.nb-theme-default  nb-option.selected {
      background-color:#6bcef7 !important;
      border:2px solid #6bcef7 !important ;
    }
    /deep/ .nb-theme-default nb-option:hover{
      background-color:#6bcef7 !important;
    }